.dates-wrapper {
    @extend .content
}

.dates-title {
    margin-bottom: ($baseline*0.75);
    padding-bottom: 0;
    border-bottom: 0;
}

.border-left {
    @include border-left(3px solid $blue);
}

.date-timeline > p {
    // Reset spacing
    margin-bottom: 0;
}

.timeline-date {
    @include font-size(16);
    margin-bottom: .5em;
    font-weight: bold;
}

.timeline-title {
    font-weight: bold;
}

.date-timeline > li {
    @include font-size(14);
    position: relative;
    margin-bottom: 0;
    padding-bottom: 2.5em;
    list-style: none;
    color: $darkGrey;

    &:before {
        content: url('#{$static-path}/images/dates-disk-dark-grey.svg');
        position: absolute;
        left: -22px;
        top: 0;
    }

    &:active, &:before {
        color: $black;
        content: url('#{$static-path}/images/dates-disk-black.svg');
        left: -24px;
    }

    &:after {
        content:"";
        position: absolute;
        left: -19px;
        border-left: 1px solid $darkGrey;
        height: 100%;
        width: 1px;
        top: 0;
    }
    &.active {
        border-left: 1px solid $black;
    }

    &:first-child:after {
        top: 10px;
        &.active {
            top: 8px;
        }
    }

    &:last-child:after {
        height: 10px;
        &.active {
            top: 8px;
        }
    }
}
