.date-wrapper {
    @extend .content;

    .date-title {
        margin-bottom: ($baseline*0.75);
        padding-bottom: 0;
        border-bottom: 0;
    }


    .timeline-item {
        border-left: solid 1px $darkGrey;
        color: $darkGrey;
        position: relative;
        padding-left: 1em;
        padding-bottom: .5em;

        &.active {
            color: $black;
            border-left: solid 1px $black;
        }

        &:last-of-type {
            border-left: none;
        }
    }

    .date-circle {
        width: 7px;
        height: 7px;
        position: absolute;
        left: -4px;
        background-color: $darkGrey;
        border-radius: 50%;

        &.active {
            width: 11px;
            height: 11px;
            left: -6px;
            background-color: $black;
        }
    }

    .date-content {
        display: flex;
        flex-wrap: wrap;
        div {
            flex: 100% 0;
        }
    }

    .timeline-date {
        @include font-size(16);
        font-weight: bold;
        margin-bottom: .25em;
    }

    .timeline-title {
        @include font-size(14);
        font-weight: bold;
    }

    .timeline-description {
        @include font-size(12);
        margin-bottom: .5em;
    }
}
